body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Roboto Mono";
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("forestry.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-color:#a8d3e0;
  min-height: 100%;
}


.bgimg-3 {
  background-color:white;
  min-height: 100%;
}

.bgimg-4 {
  background-color:#374b51;
  min-height: 100%;
}

.gifContainer *{
  display: block;
}

.gifs {
  width: 30%;
}

.brazilGif img {
  width: 500px;
  height: 375px;
}

.russiaGif {
  width: 30%;
  /*background-image: url("russiaDeforestation.gif");*/
}

.bgimg-2 {
  display: flex;
  flex-direction: row;
  /*flex-wrap: nowrap;
  justify-content: center;*/
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  color: #fff;
  padding: 18px;
  font-size: 5vw;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

p{
  text-align: left;
}

.container {
    overflow:hidden;
    max-width: 20%;
    margin-top:-15%;
    margin-left:5%;
}


.one {
    position: relative;
    top: 0;
    background-color: lightblue;
    z-index: 1;
    cursor:pointer;
}

.two {
    display: none;
}

.containerr {
    overflow:hidden;
    width: 20%;
    margin-top: -2.2%;
    margin-left:30%;
}

.three {
    position: relative;
    top: 0;
    background-color: lightblue;
    z-index: 1;
    cursor:pointer;
}

.four {
    display: none;
}
