body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Roboto Mono";
    color: #777;
    overflow-x:hidden;

}

.bgimg-1,
/*.bgimg-2,*/
.bgimg-3,
.bgimg-4 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("forestry.jpg");
    min-height: 100%;
}

.bgimg-2 {
    display: block;
    justify-content: center;
    background-color: #a8d3e0;
    min-height: 100%;
}

.bgimg-2 * {
  margin: 20px 0;
}

.bgimg-3 {
    background-color: white;
    min-height: 100%;
}

.bgimg-4 {
    background-color: #374b51;
    min-height: 100%;
    height: 100%;
}

.topGifContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gifContainer {
  /*border: 1px red solid;*/
  flex-grow: 1;
  margin: 5%;
  width: 23%;
}

.gifContainer *{
  /*border: 1px blue solid;*/
}

.gifContainer p {
  margin-top: 0;
  margin-bottom: 5%;
}

.gifs {
  width: 100%;
}

.russiaGifContainer {
  order: 4;
}

.russiaGif *{
  margin-left: 21%;
}

.russiaGif img {
  width: 60%;
}

.brazilGifContainer {
  order: 1;
}

.portugalGifContainer {
  order: 3;
}

.portugalGif img {
  width: 90%;
}

.indonesiaGifContainer {
  order: 2;
}

.captionnn{

    margin-left: 85%;
    margin-top: 99%;
}

.captionn{
    -webkit-transform: rotate(-90deg);
    margin-left: -80%;
    margin-top: -105%;
}
.caption {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    color: #fff;
    padding: 18px;
    font-size: 5vw;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

p{
  text-align: left;
}

.container {
    overflow: hidden;
    width: 25%;
    height: 80%;
    position: absolute;
    top: 5%;
    margin-top: 20%;
    margin:5%;
}

#first {
    top: 0;
    left: 0;
    background-color: #374b51;

}

#second {
    top: 0;
    left: 25%;
}

#third {
    top: 0;
    left: 50%;
}

#fourth {
    top: 0;
    left: 75%;
}

.one {
    transition: background-color 1s ease;
    position: absolute;
    cursor: pointer;
    background-color: white;
    width: 60%;

}

.one:hover {
    background-color: #374b51;
    color:white;
    box-shadow:
                1px 1px lightblue,
                2px 2px lightblue,
                3px 3px lightblue;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);


}


.two {
    position: absolute;
    top: 30px;
    display: none;
    width:60%;
    z-index: 1;
}
.two p{
    color:black;
    height: 100%;
    margin:5%;
}

.curiosities{
    font-size: 5em;
    margin-left:30%;
    margin-top: 20%;

}


@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.curiosities
{
    opacity: 1;
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    z-index: -1;

}

.sourceGFW {
  text-align: right;
  margin-right: 2%;
  color: #374b51;
}


.sourceGFW a{
  text-align: right;
  color: #777;
  text-decoration: none;
}

.sourceGFW a:hover {
  color: white;

}
