body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Roboto Mono";
    color: #777;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("forestry.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-color: #a8d3e0;
    min-height: 100%;
}

.bgimg-3 {
    background-color: white;
    min-height: 100%;
}

.bgimg-4 {
    background-color: #374b51;
    min-height: 100%;
    height: 100%;
}

.gifContainer *{
  display: block;
}

.gifs {
  width: 30%;
}

.bgimg-2 {
  display: flex;
  flex-direction: row;
  /*flex-wrap: nowrap;
  justify-content: center;*/
}

.caption {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    color: #fff;
    padding: 18px;
    font-size: 5vw;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

p{
  text-align: left;
}

.container {
    overflow: hidden;
    width: 25%;
    height: 80%;
    position: absolute;
    top: 5%;
    margin-top: 20%;
    margin:5%;
}

#first {
    top: 0;
    left: 0;
    
    background-color: #374b51;
}

#second {
    top: 0;
    left: 25%;
}

#third {
    top: 0;
    left: 50%;
}

#fourth {
    top: 0;
    left: 75%;
}

.one {
    position: absolute;
    cursor: pointer;
    background-color: white;
    width: 60%;
    
}

.two {
    position: absolute;
    top: 30px;
    display: none;
    width:60%;
}
.two p{
    color:black;
    height: 100%;
    margin:5%;
}
